body,
html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
#box {
  height: 100%;
  background: #000;
}
#bg0 li {
  width: 0;
  height: 0;
  background: #000;
  position: absolute;
  top: 500px;
  left: 68.3rem;
  transition: all 1s;
  border: 0px solid #52B128;
  cursor: pointer;
}
#bgs {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
}
.bg1,
.bg2,
.bg3,
.bg4,
.bg5 {
  width: 100%;
  height: 100%;
}
.bg1 {
  background: url(../img/bg1-1.jpg) no-repeat;
}
.bg2 {
  background: url(../img/bg2-1.jpg) no-repeat;
}
.bg3 {
  background: url(../img/bg3-1.jpg) no-repeat;
}
.bg4 {
  background: url(../img/bg4-1.jpg) no-repeat;
}
.bg5 {
  background: url(../img/bg5-1.jpg) no-repeat;
}
#nav {
  width: 1094px;
  height: 100px;
  left: 50%;
  position: relative;
  position: absolute;
  top: 50px;
  z-index: 5;
}
#music {
  width: 300px;
  height: 30px;
  position: absolute;
  z-index: 50;
  top: 0;
  right: 0;
}
.navFont {
  color: red;
  display: none;
}
